@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.col-margin {
  .ant-col {
    margin-right: 24px;
  }
  
}
.layout {
  font-family: 'Play', sans-serif;
}

.content {
  min-height: calc(100vh - 135px);
  padding: 24px;
  background: #fff;
}

.image-fit {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.element-tag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  span {
    margin-left: 3px;
  }
}

.air {
  background-color: #d9d9d9;
}

.water {
  background-color: #7bdff2;
}

.fire {
  background-color: #ff5e5e;
}

.earth {
  background-color: #80b918;
}

.collection {
  display: flex;
  .collection-col {
    flex: 4;
    height: calc(100vh - 250px);
    overflow: auto;
  }
}
.mon-status {
  font-size: 1.5rem;
}

.ant-form-item-label label{
  font-size: 1.2rem !important;
}

.ant-list-item-meta-description {
  color: black !important;
}